@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-style: normal;
	margin: 0;
}

.flaticon-arrow106:before {
	content: "\e000";
}
.flaticon-facebook29:before {
	content: "\e001";
}
.flaticon-left179:before {
	content: "\e002";
}

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
	font-family:"Hibiscus";
	src: url("../fonts/Hibiscus.eot") format("eot"),
		url("../fonts/Hibiscus.woff") format("woff"),
		url("../fonts/Hibiscus.ttf") format("truetype"),
		url("../fonts/Hibiscus.svg#Hibiscus") format("svg");
	font-weight:normal;
	font-style:normal;
}
