/*************************************
GENERAL
*************************************/
html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px; }
  @media screen and (max-width: 480px) {
    html,
    body {
      font-size: 14px; } }

p {
  font-size: 1em; }

h1 {
  font-size: 3em;
  line-height: 1.05em; }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 2em;
      line-height: 1.25em; } }

h2 {
  font-size: 2.25em;
  line-height: 1.25em; }
  @media screen and (max-width: 480px) {
    h2 {
      font-size: 1.625em;
      line-height: 1.15384615em; } }

h3 {
  font-size: 1.75em;
  line-height: 1.25em; }
  @media screen and (max-width: 480px) {
    h3 {
      font-size: 1.375em;
      line-height: 1.13636364em; } }

h1,
h2,
h3 {
  margin: 0; }

a {
  color: #cf6557;
  font-weight: 600; }
  a:hover {
    color: #e6aea6;
    text-decoration: none; }

.spacer {
  background: #cf6557;
  border: 0 none;
  height: 5px;
  margin: 35px auto;
  width: 6em; }

button {
  font-weight: 400;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  button[type="button"]:focus {
    outline: none !important;
    box-shadow: none !important; }

.postcard {
  background-color: #fff;
  padding: 10px;
  box-shadow: 5px 5px 10px #777777; }
  @media screen and (max-width: 480px) {
    .postcard {
      margin: 17.5px 0; } }

/*************************************
NAVBAR
*************************************/
#nav {
  background-color: rgba(186, 219, 210, 0.95);
  border: 0;
  margin: 0; }

.navbar,
.navbar-header,
.navbar-brand,
.nav-link {
  height: 70px;
  margin: 0; }

.navbar-brand {
  line-height: 40px;
  font-family: "Lobster", cursive; }

.navbar-nav {
  margin: 0 -15px; }
  .navbar-nav li a {
    font-size: 0.875em;
    height: 70px;
    line-height: 40px;
    padding: 15px; }

.navbar-toggle {
  background-color: #fff;
  border-color: #77b8a6 !important;
  margin: 15px 15px; }

.navbar-collapse {
  background-color: rgba(186, 219, 210, 0.95); }
  .navbar-collapse li:hover {
    background-color: #dcece8; }

/*************************************
LANDING PAGE
*************************************/
.landing {
  background: #000 url("../img/bg.jpg") no-repeat fixed left top;
  background-size: cover;
  height: 100%;
  padding: 0;
  text-align: center;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .landing {
      background-size: default; } }
  .landing .overlay {
    background: rgba(35, 46, 63, 0.1);
    width: 100%;
    height: 100%;
    z-index: 1; }
  .landing .container {
    color: #fff;
    height: 100%;
    width: 60%;
    position: absolute;
    top: 0%;
    left: 20%;
    padding: 20px 0; }
    @media screen and (max-width: 480px) {
      .landing .container {
        height: 85%;
        width: 95%;
        left: 2.5%;
        top: 7.5%;
        padding: 10px 0; } }
  .landing .spacer {
    margin: 55px auto; }
    @media screen and (max-width: 480px) {
      .landing .spacer {
        margin: 17.5px auto; } }

#landing-logo {
  width: 150px; }
  @media screen and (max-width: 480px) {
    #landing-logo {
      width: 100px; } }

#landing-title {
  font-family: "Lobster", cursive;
  font-size: 6em;
  line-height: 1.125em;
  margin: 17.5px 0 0;
  text-shadow: 2px 2px 10px #000; }
  @media screen and (max-width: 480px) {
    #landing-title {
      font-size: 3em; } }

#landing-subtitle {
  font-size: 2.25em;
  font-variant: small-caps;
  line-height: 1.25em;
  margin: 0;
  text-shadow: 2px 2px 10px #000; }
  @media screen and (max-width: 480px) {
    #landing-subtitle {
      font-size: 1.625em; } }

.landing-intro {
  margin: 0 auto;
  font-size: 1.75em;
  font-weight: 300; }
  @media screen and (max-width: 480px) {
    .landing-intro {
      font-size: 1.375em; } }
  .landing-intro button {
    border: 2px solid #fff;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 17.5px;
    width: 250px;
    text-transform: uppercase; }
    .landing-intro button:hover {
      letter-spacing: 5px;
      border: 2px solid #000;
      color: #000; }

/*************************************
SECTIONS
*************************************/
.section {
  padding: 70px 0; }
  .section:nth-child(even) {
    background-color: #eee; }
  .section h2:not(:first-child),
  .section h3:not(:first-child) {
    margin: 35px 0 17.5px; }

.header {
  max-height: 95px; }
  .header .section-header {
    font-weight: 300;
    text-transform: uppercase; }
  .header .spacer {
    margin: 35px 0; }

.description p {
  font-size: 1.125em;
  font-weight: 400;
  margin: 17.5px 0 0; }

.class-group {
  background: #fff;
  border: 1px solid #badbd2;
  border-radius: 15px;
  margin-top: 20px; }
  .class-group .class-heading {
    background-color: #badbd2;
    border-radius: 10px 10px 0 0;
    font-size: 1.125em;
    font-weight: 600;
    margin: 0;
    padding: 10px;
    text-align: center; }
  .class-group .class-desc {
    margin: 0;
    padding: 15px; }
    @media screen and (max-width: 480px) {
      .class-group .class-desc {
        padding: 10px; } }

.class-info {
  font-size: 0.875em;
  padding: 0;
  margin: 0; }
  .class-info li {
    display: block;
    border-top: 1px solid #eeeeee;
    padding: 15px; }
    @media screen and (max-width: 480px) {
      .class-info li {
        padding: 10px; } }
    .class-info li:last-child {
      border-radius: 0 0 10px 10px; }
    .class-info li span.glyphicon {
      font-size: 1.5em;
      margin: 0 15px 0 0; }
      @media screen and (max-width: 480px) {
        .class-info li span.glyphicon {
          font-size: 1.25em;
          margin: 0 10px 0 0; } }
    .class-info li p {
      line-height: 1.25em;
      margin: 0 0 10px; }
      .class-info li p:last-child {
        margin: 0; }

/*************************************
SECTIONS: INSTRUCTOR
*************************************/
#brian {
  margin: 0; }
  @media screen and (max-width: 480px) {
    #brian {
      margin-bottom: 35px; } }

/*************************************
FOOTER
*************************************/
.footer {
  background: #57524e url("../img/paddleboards.jpg") no-repeat fixed left top;
  background-size: cover; }
  .footer .overlay {
    background: rgba(35, 46, 63, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1; }
  .footer .container {
    color: #fff;
    padding: 70px 0 0; }
  .footer .footer-header {
    font-weight: 300;
    text-transform: uppercase; }
  .footer .logos {
    margin: 60px 0; }
  .footer .company-logo {
    margin: 10px; }

#copyright {
  width: 90%;
  font-weight: 400;
  margin: 35px 0;
  text-align: center; }
  #copyright .credits {
    font-size: 0.875em;
    font-weight: 300; }

/*************************************
BACK TO TOP
*************************************/
.back-to-top {
  display: none;
  border-radius: 100%;
  background-color: #000;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  opacity: .3;
  z-index: 9999; }
  .back-to-top:hover {
    opacity: .6;
    cursor: pointer; }
  .back-to-top .glyphicon-chevron-up {
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    position: relative;
    left: 15px;
    top: 0;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

/*# sourceMappingURL=main.css.map */
