/*************************************
GENERAL
*************************************/
html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px; }

p {
  font-size: 1em; }

h1 {
  font-size: 3em;
  line-height: 1.05em; }

h2 {
  font-size: 2.25em;
  line-height: 1.25em; }

h3 {
  font-size: 1.75em;
  line-height: 1.25em; }

h1,
h2,
h3 {
  margin: 0; }

a {
  color: #eb7b59;
  font-weight: 600; }
  a:hover {
    color: #f3b19d;
    text-decoration: none; }

.spacer {
  background: #cf4647;
  border: none;
  height: 3px;
  margin: 35px auto;
  width: 50px; }

button {
  color: #fff !important;
  font-weight: 400 !important;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  button[type="button"]:focus {
    outline: none !important;
    box-shadow: none !important; }

.postcard {
  background-color: #fff;
  margin: 17.5px auto;
  padding: 10px;
  box-shadow: 5px 5px 15px #777777; }

strong {
  font-weight: 600; }

/*************************************
NAVBAR
*************************************/
#nav {
  background-color: rgba(213, 227, 224, 0.95);
  border: 0;
  margin: 0; }

.navbar,
.navbar-header,
.navbar-brand,
.nav-link {
  height: 70px;
  margin: 0; }

.navbar-brand {
  color: #79a79a !important;
  font-family: "Lobster", cursive;
  font-size: 1.75em;
  line-height: 40px; }

.navbar-nav {
  margin: 0 -15px; }
  .navbar-nav li a {
    color: #000 !important;
    font-size: 0.875em;
    height: 70px;
    line-height: 40px;
    padding: 15px; }
    .navbar-nav li a:hover {
      color: #79a79a !important; }

.navbar-toggle {
  background-color: #79a79a;
  border: 0;
  margin: 19px 15px; }
  .navbar-toggle .icon-bar {
    background-color: #fff !important; }
  .navbar-toggle:hover {
    background-color: #fff !important; }
    .navbar-toggle:hover .icon-bar {
      background-color: #79a79a !important; }

.navbar-collapse {
  border: 0;
  background-color: rgba(213, 227, 224, 0.95); }

/*************************************
LANDING PAGE
*************************************/
.landing {
  background: url("../img/bg.jpg") no-repeat fixed center top;
  background-size: cover;
  height: 100%;
  padding: 0;
  text-align: center;
  width: 100%; }
  .landing .overlay {
    background: rgba(63, 51, 45, 0.25);
    width: 100%;
    height: 100%;
    z-index: 1; }
  .landing .container {
    color: #fff;
    width: 95%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .landing .spacer {
    margin: 50px auto; }

#landing-logo {
  width: 150px; }

#landing-title {
  font-family: "Lobster", cursive;
  font-size: 7em;
  line-height: 1.125em;
  margin: 17.5px 0 0;
  text-shadow: 2px 2px 10px #000;
  margin: 0; }

#landing-subtitle {
  font-size: 2.25em;
  font-variant: small-caps;
  line-height: 1em;
  margin: 0; }

.landing-intro {
  font-weight: 300;
  margin: 0 auto;
  width: 90%; }
  .landing-intro p {
    font-size: 1.5em;
    opacity: .65; }
  .landing-intro #intro-btn {
    background-color: #cf4647;
    font-size: 1em;
    padding: 15px;
    margin-top: 17.5px;
    text-transform: uppercase;
    width: 25%; }
    .landing-intro #intro-btn:hover {
      background-color: #df8383;
      letter-spacing: 5px; }
  .landing-intro #intro-down {
    font-weight: 300;
    font-size: .8125em;
    opacity: .65; }
    .landing-intro #intro-down:hover {
      cursor: pointer; }

/*************************************
SECTIONS
*************************************/
.section {
  background-color: #fff;
  padding: 70px 0; }
  .section:nth-child(even) {
    background-color: #f6f3ed; }
  .section h2:not(:first-child),
  .section h3:not(:first-child) {
    margin: 35px 0 17.5px; }

.header {
  text-align: center;
  max-height: 95px; }
  .header .section-header {
    font-weight: 300;
    text-transform: uppercase; }
  .header .spacer {
    margin: 35px auto; }

.description p {
  font-size: 1.125em;
  font-weight: 400;
  margin: 17.5px 0 0;
  line-height: 1.51875em; }

.class-group {
  background: #fff;
  margin-top: 20px;
  border-radius: 15px; }
  .class-group .class-heading {
    background-color: #6b584d;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-size: 1.125em;
    font-weight: 600;
    margin: 0;
    padding: 10px;
    text-align: center; }
  .class-group .class-desc {
    font-size: 0.875em;
    margin: 0;
    padding: 15px; }

.border {
  border: 1px solid #6b584d;
  border-radius: 0 0 15px 15px; }

.class-info {
  font-size: 0.875em;
  padding: 0;
  margin: 0; }
  .class-info li {
    display: block;
    border-top: 1px solid #eeeeee;
    padding: 15px; }
    .class-info li:last-child {
      border-radius: 0 0 10px 10px; }
    .class-info li span.glyphicon {
      font-size: 1.25em;
      margin: 3px 12px 0 0; }
    .class-info li p {
      line-height: 1.25em;
      margin: 0 0 10px; }
      .class-info li p:last-child {
        margin: 0; }
    .class-info li .register {
      background-color: #cf4647;
      display: block;
      font-size: 1em;
      margin: 0 auto;
      width: 90%; }
      .class-info li .register:hover {
        background-color: #df8383;
        letter-spacing: 5px; }

/*************************************
SECTIONS: INSTRUCTOR
*************************************/
#brian {
  margin: 0 auto 35px; }

/*************************************
FOOTER
*************************************/
.footer {
  background: #6b584d url("../img/paddleboards.jpg") no-repeat fixed left top;
  background-size: cover;
  padding: 0;
  text-align: center;
  width: 100%; }
  .footer .overlay {
    background: rgba(63, 51, 45, 0.65);
    width: 100%;
    height: 100%;
    z-index: 1; }
  .footer .container {
    width: 90%;
    color: #fff;
    padding: 0; }
  .footer .footer-header {
    font-weight: 300;
    text-transform: uppercase; }
  .footer .logos {
    margin: 60px 0; }
  .footer .company-logo {
    margin: 10px; }

#copyright {
  font-weight: 400;
  margin: 35px auto;
  text-align: center; }
  #copyright .credits {
    font-size: 0.875em;
    font-weight: 300; }

/*************************************
BACK TO TOP
*************************************/
.back-to-top {
  display: none;
  border-radius: 100%;
  background-color: #3f332d;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  opacity: .3;
  z-index: 9999; }
  .back-to-top:hover {
    opacity: .6;
    cursor: pointer;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .back-to-top .glyphicon-chevron-up {
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    position: relative;
    left: 16px;
    top: 0;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

/*# sourceMappingURL=main.css.map */
