/*************************************
  TABLET
*************************************/
@media screen and (max-width: 768px) {
  /* GENERAL */
  body {
    font-size: 14px; }

  h1 {
    font-size: 2.5em;
    line-height: 1.125em; }

  h2 {
    font-size: 2em;
    line-height: 1.25em; }

  h3 {
    font-size: 1.5em;
    line-height: 1.25em; }

  .postcard figure {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-backface-visibility: hidden; }
    .postcard figure::after {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-backface-visibility: hidden;
      position: absolute;
      left: 45%; }

  /* NAVBAR */
  .navbar-nav li a.flaticon-facebook29 {
    font-size: 25px !important; }

  /* LANDING PAGE */
  .landing {
    background-attachment: scroll; }
    .landing .spacer {
      margin: 35px auto; }

  #landing-logo {
    max-width: 120px; }

  #landing-title {
    font-size: 6em; }

  #landing-subtitle {
    font-size: 2.25em; }

  .landing-intro p {
    font-size: 1.375em; }
  .landing-intro #intro-btn {
    font-size: 1em !important;
    padding: 10px !important;
    width: 40% !important; }
  .landing-intro #intro-down {
    font-size: 1em; }

  /* SECTIONS: ABOUT US */
  #about-paddleboard {
    display: none; }

  #about-tagline p {
    font-size: 1.75em;
    margin: 0 auto; }

  /* FOOTER */
  .footer {
    background-attachment: scroll; } }
/*************************************
  TABLET: PORTRAIT
*************************************/
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  /* LANDING PAGE */
  #intro-down {
    display: none; } }
/*************************************
  TABLET: LANDSCAPE
*************************************/
@media screen and (min-width: 641px) and (max-width: 1024px) and (orientation: landscape) {
  /* GENERAL */
  .postcard figure {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-backface-visibility: hidden; }
    .postcard figure::after {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-backface-visibility: hidden;
      position: absolute;
      left: 45%; }

  /* NAVBAR */
  .navbar-nav li a.flaticon-facebook29 {
    font-size: 25px !important; }

  /* LANDING PAGE */
  .landing {
    background-attachment: scroll; }
    .landing .spacer {
      margin: 17.5px auto; }

  #intro-down {
    display: none; }

  /* SECTIONS: ABOUT US */
  #about-paddleboard {
    display: none; }

  #about-tagline p {
    margin: 0 auto; }

  /* FOOTER */
  .footer {
    background-attachment: scroll; } }
/*************************************
  MOBILE
*************************************/
@media screen and (max-width: 640px) {
  /* GENERAL */
  body {
    font-size: 14px; }

  h1 {
    font-size: 2em;
    line-height: 1.25em; }

  h2 {
    font-size: 1.625em;
    line-height: 1.15384615em; }

  h3 {
    font-size: 1.375em;
    line-height: 1.13636364em; }

  /* LANDING PAGE */
  .landing .spacer {
    margin: 17.5px auto; }

  #landing-logo {
    width: 80px; }

  #landing-title {
    font-size: 3.15em;
    line-height: 1.125em; }

  #landing-subtitle {
    font-size: 1.25em;
    line-height: 1em; }

  .landing-intro p {
    font-size: 1em; }
  .landing-intro #intro-btn {
    width: 60% !important; }
  .landing-intro #intro-down {
    font-size: .7143em; }

  /* SECTIONS */
  .header h1:before, .header h1:after {
    display: none; }

  /* SECTIONS: ABOUT US */
  #about-tagline p {
    font-size: 1.25em; } }
/*************************************
  MOBILE: PORTRAIT
*************************************/
@media screen and (max-width: 480px) and (orientation: portrait) {
  /* LANDING PAGE */
  #intro-down {
    display: none; } }
/*************************************
  MOBILE: LANDSCAPE
*************************************/
@media screen and (max-width: 640px) and (orientation: landscape) {
  /* LANDING PAGE */
  .landing .spacer {
    margin: 11.66667px auto; }

  #landing-title {
    font-size: 3.5em; }

  #intro-btn {
    display: none; } }
/*************************************
  LAPTOP SCREENS
*************************************/
@media screen and (min-width: 768px) {
  /* LANDING PAGE */
  #intro-down {
    display: none; } }

/*# sourceMappingURL=responsive.css.map */
