/*************************************
  TABLET
*************************************/
@media screen and (max-width: 768px) {
  /* GENERAL */
  body {
    font-size: 14px; }

  h1 {
    font-size: 2.5em;
    line-height: 1.125em; }

  h2 {
    font-size: 2em;
    line-height: 1.25em; }

  h3 {
    font-size: 1.5em;
    line-height: 1.25em; }

  /* LANDING PAGE */
  .landing {
    background-attachment: scroll; }
    .landing .spacer {
      margin: 35px auto; }

  #landing-logo {
    max-width: 120px; }

  #landing-title {
    font-size: 6em; }

  #landing-subtitle {
    font-size: 2.25em; }

  .landing-intro p {
    font-size: 1.375em; }
  .landing-intro #intro-btn {
    font-size: 1em !important;
    padding: 10px !important;
    width: 40% !important; }
  .landing-intro #intro-down {
    font-size: 1em; }

  /* FOOTER */
  .footer {
    background-attachment: scroll; } }
/*************************************
  TABLET: PORTRAIT
*************************************/
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  /* LANDING PAGE */
  #intro-down {
    display: none; } }
/*************************************
  TABLET: LANDSCAPE
*************************************/
@media screen and (min-width: 641px) and (max-width: 1024px) and (orientation: landscape) {
  /* LANDING PAGE */
  .landing {
    background-attachment: scroll; }
    .landing .spacer {
      margin: 17.5px auto; }

  #intro-down {
    display: none; }

  /* FOOTER */
  .footer {
    background-attachment: scroll; } }
/*************************************
  MOBILE
*************************************/
@media screen and (max-width: 640px) {
  /* GENERAL */
  body {
    font-size: 14px; }

  h1 {
    font-size: 2em;
    line-height: 1.25em; }

  h2 {
    font-size: 1.625em;
    line-height: 1.15384615em; }

  h3 {
    font-size: 1.375em;
    line-height: 1.13636364em; }

  /* LANDING PAGE */
  .landing .spacer {
    margin: 17.5px auto; }

  #landing-logo {
    width: 80px; }

  #landing-title {
    font-size: 3.15em;
    line-height: 1.125em; }

  #landing-subtitle {
    font-size: 1.25em;
    line-height: 1em; }

  .landing-intro p {
    font-size: 1em; }
  .landing-intro #intro-btn {
    width: 60% !important; }
  .landing-intro #intro-down {
    font-size: .7143em; } }
/*************************************
  MOBILE: PORTRAIT
*************************************/
@media screen and (max-width: 480px) and (orientation: portrait) {
  /* LANDING PAGE */
  #intro-down {
    display: none; } }
/*************************************
  MOBILE: LANDSCAPE
*************************************/
@media screen and (max-width: 640px) and (orientation: landscape) {
  /* LANDING PAGE */
  .landing .spacer {
    margin: 11.66667px auto; }

  #landing-title {
    font-size: 3.5em; }

  #intro-btn {
    display: none; } }
/*************************************
  LAPTOP SCREENS
*************************************/
@media screen and (min-width: 768px) {
  /* LANDING PAGE */
  #intro-down {
    display: none; } }

/*# sourceMappingURL=responsive.css.map */
